{% extends "base.html" %}

{% block title %}Piskel - Home{% endblock %}
{% block main %} 
	<div class="piskel-carousel">
		<div class="piskel-preview-container">
			<h3>Public repository</h3>
			{% for id in showcase_piskels %}
				<img class="piskel-preview" src="/resources/sleepy-guy.gif"/>
			{% endfor %}
			<a class="more-link" href="#">See more ...</a>
		</div>
	</div>

	<hr class="preview-separator"/>

	<div class="piskel-carousel">
		<div class="piskel-preview-container">
			<h3>Julian's latest piskels</h3>
			{% for id in showcase_piskels %}
				<span class="piskel-preview"><img src="/resources/piskel-logo.gif"/></span>
			{% endfor %}
			<a class="more-link" href="#">See more ...</a>
		</div>
	</div>
{% endblock %}